/* ==============================================
   Zodiak Font - Public Path Version
   ============================================== */

@font-face {
  font-family: 'Zodiak-Thin';
  src: url('/fonts/Zodiak-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-ThinItalic';
  src: url('/fonts/Zodiak-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Light';
  src: url('/fonts/Zodiak-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-LightItalic';
  src: url('/fonts/Zodiak-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Regular';
  src: url('/fonts/Zodiak-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-Italic';
  src: url('/fonts/Zodiak-Italic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Bold';
  src: url('/fonts/Zodiak-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-BoldItalic';
  src: url('/fonts/Zodiak-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Extrabold';
  src: url('/fonts/Zodiak-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-ExtraboldItalic';
  src: url('/fonts/Zodiak-ExtraboldItalic.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Black';
  src: url('/fonts/Zodiak-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-BlackItalic';
  src: url('/fonts/Zodiak-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Variable';
  src: url('/fonts/Zodiak-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-VariableItalic';
  src: url('/fonts/Zodiak-VariableItalic.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

/* ==============================================
   Set Zodiak as default font for whole app
   ============================================== */
body {
  font-family: 'Zodiak-Regular', 'Zodiak-Variable', sans-serif;
}



