
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4efc0;
}

/* .login-card {
  background-image: url("../assets/logo.jpg");
  background-size: cover;
  background-position: center;
  position: relative; 
  background-color: #FAFAFA;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 400px;
  height: 85%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

.login-card {
  position: relative;
  background-color: #FAFAFA;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden; /* برای اینکه لایه قبل از کارت بیرون نزنه */
}

.login-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/logo.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2; /* شفافیت تصویر */
  z-index: 0;
}

.login-card > * {
  position: relative;
  z-index: 1; /* محتوای کارت بالای تصویر باشه */
}


.login-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.login-input {
  text-align: right;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.login-button {
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.login-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.login-error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}

.login-link {
  padding-top: 180px;
  text-align: center;
  font-size:0.9 rem;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.design_image {
  width: 100%;           /* full width of the card */
  height: 100px;         /* adjust height as you like */
  object-fit: cover;     /* cover without stretching */
  border-radius: 12px 12px 0 0; /* rounded top corners to match card */
  margin-bottom: 5rem;   
}

.forget-link {
  text-align: right;
  font-size: 1rem;
  margin-top: -10px;
}

.forget-link a {
  color: #007bff;
  text-decoration: none;
}

.forget-link a:hover {
  text-decoration: underline;
}

.input-error {
  border: 2px solid #ff4d4f !important;
}



